body, html {
  height: 100%;
  width: 100%; }

body {
  background-color: rgba(0, 0, 0, 0.8); }

ul {
  margin: 0;
  padding: 0;
  list-style-image: url(../images/infusebullet.png); }

main {
  position: relative;
  width: 100%;
  max-width: 900px;
  background-color: white;
  transition: 0.5s;
  margin-top: 40px; }

h1 {
  margin: 0;
  padding: 0; }

.product-header {
  height: 200px; }

.product-header-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.infuseheaderlogo {
  width: 232px; }

.products-grid {
  position: relative;
  display: grid;
  grid-template: "stepone" minmax(300px, auto) "imgone" 300px "steptwo" minmax(300px, auto) "imgtwo" 300px "stepthree" minmax(300px, auto) "imgthree" 300px/1fr; }

.step-one-feat-img {
  position: relative;
  grid-area: imgone;
  width: 100%;
  height: 300px;
  background-image: url(../images/accessories.png);
  background-size: cover;
  background-position: top center; }

.step-two-feat-img {
  position: relative;
  grid-area: imgtwo;
  width: 100%;
  height: 300px;
  background-image: url(../images/accessories.png);
  background-size: cover;
  background-position: top center; }

.step-three-feat-img {
  position: relative;
  grid-area: imgthree;
  width: 100%;
  height: 300px;
  background-image: url(../images/accessories.png);
  background-size: cover;
  background-position: top center; }

.img-caption {
  position: absolute;
  right: 0;
  height: 50px;
  width: 100px;
  border: 2px solid white;
  background-color: rgba(25, 70, 186, 0.4); }
  .img-caption p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* Colors */
.step-one {
  grid-area: stepone;
  background: linear-gradient(to bottom, #39d52d 8%, #4ad93f 8%, #4ad93f 16%, #5edd55 16%, #5edd55 24%, #72e26a 24%, #72e26a 32%, white 32%, white 100%); }
  .step-one h6 {
    border-bottom: 2px solid #1946ba; }

.step-two {
  grid-area: steptwo;
  background: linear-gradient(to bottom, #1946ba 8%, #1c4dca 8%, #1c4dca 16%, #1f56e0 16%, #1f56e0 24%, #3566e3 24%, #3566e3 32%, white 32%, white 100%); }
  .step-two h6 {
    border-bottom: 2px solid #39d52d; }

.step-three {
  grid-area: stepthree;
  background: linear-gradient(to bottom, #1946ba 8%, #4ad93f 8%, #4ad93f 16%, #1f56e0 16%, #1f56e0 24%, #72e26a 24%, #72e26a 32%, white 32%, white 100%); }
  .step-three h6 {
    border-bottom: 2px solid #39d52d; }
  .step-three .list:nth-child(2) h6 {
    border-bottom: 2px solid #1946ba; }

.step-one, .step-two, .step-three {
  display: grid;
  grid-template: "headers" minmax(125px, auto) "lists" auto/1fr; }
  .step-one .stepheaders, .step-two .stepheaders, .step-three .stepheaders {
    grid-area: headers;
    text-align: center;
    margin-top: 10px; }
  .step-one .steplists, .step-two .steplists, .step-three .steplists {
    grid-area: lists;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }

.step-one .stepheaders {
  color: white; }

.step-two .stepheaders {
  color: white; }

.step-three .stepheaders {
  color: white; }

@media only screen and (min-width: 768px) {
  main {
    margin-top: 0px; } }

/*# sourceMappingURL=products.css.map */
